doctype html

html
  head
    link(rel="stylesheet", href="/static/main.css")
  body
    .div.form-container
      form(action="/media" method="get")
        input(type="text" name="userId" placeholder="Enter User ID" required)
        input(type="number" name="from" placeholder="From (Page Number)" value=from required)
        input(type="number" name="to" placeholder="To (Page Number)" value=to required)
        input(type="number" name="limit" placeholder="Limit (Total Posts To Check)" value=limit required)
        input(type="number" name="lookahead" placeholder="Prefetch Amount (Total Posts to Load per Chunk)" value=lookahead required)

        button(type="submit") Fetch Pictures
